name: "Terraform Backend: [azurerm]"

on:
  push:
    branches:
      - dev
  pull_request:

permissions:
  contents: read

jobs:
  azurerm:
    name: "Terraform Backend"
    runs-on: ubuntu-latest
    environment: development
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - uses: actions/checkout@v1

      - name: "create [azurerm]"
        shell: "/bin/bash {0}"
        run: |
          az login --service-principal --username $ARM_CLIENT_ID --password $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID
          az account set --subscription $ARM_SUBSCRIPTION_ID
          source ${{github.workspace}}/scripts/azurerm.sh
        env:
          TF_STATE_BLOB_SUBSCRIPTION_NAME: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          TF_STATE_BLOB_ACCOUNT_RESOURCE_GROUP: ${{ secrets.TF_STATE_BLOB_ACCOUNT_RESOURCE_GROUP }}
          TF_STATE_BLOB_ACCOUT_LOCATION: ${{ secrets.TF_STATE_BLOB_ACCOUT_LOCATION }}
          TF_STATE_BLOB_ACCOUNT_NAME: ${{ secrets.TF_STATE_BLOB_ACCOUNT_NAME }}
          TF_STATE_BLOB_ACCOUNT_SKU: ${{ secrets.TF_STATE_BLOB_ACCOUNT_SKU }}
          TF_STATE_BLOB_CONTAINER_NAME: ${{ secrets.TF_STATE_BLOB_CONTAINER_NAME }}
        id: azurerm

      - name: "validate [azurerm]"
        shell: "/bin/bash {0}"
        run: |
          echo -n "SAS_TOKEN : [$SAS_TOKEN]"
        env:
          SAS_TOKEN: ${{ steps.azurerm.outputs.SasToken }}
