name: "Terraform Backend: [azurerm]"

on:
  push:
    branches:
      - dev
  pull_request:

permissions:
  contents: read

# env:
#   TF_STATE_BLOB_SUBSCRIPTION_NAME: ${{ secrets.ARM_SUBSCRIPTION_ID }}
#   TF_STATE_BLOB_ACCOUNT_RESOURCE_GROUP: "rg-TERRAFORM-ENV"
#   TF_STATE_BLOB_ACCOUT_LOCATION: "westeurope"
#   TF_STATE_BLOB_ACCOUNT_NAME: "tfstate20220601env"
#   TF_STATE_BLOB_ACCOUNT_SKU: "Standard_LRS"
#   TF_STATE_BLOB_CONTAINER_NAME: "tfstate"

jobs:
  azurerm:
    name: "Terraform Backend"
    runs-on: ubuntu-latest
    environment: development
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - uses: actions/checkout@v1

      - name: "create [azurerm]"
        shell: "/bin/bash {0}"
        run: |
          az login --service-principal --username $ARM_CLIENT_ID --password $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID
          az account set --subscription $ARM_SUBSCRIPTION_ID
          source ${{github.workspace}}/scripts/exports.sh
          source ${{github.workspace}}/scripts/azurerm.sh
        id: azurerm
        env:
          TF_STATE_BLOB_SUBSCRIPTION_NAME: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: "validate [azurerm]"
        shell: "/bin/bash {0}"
        run: |
          echo "SAS_TOKEN     : [$SAS_TOKEN]"
          echo "GITHUB_JOB    : [$GITHUB_JOB]"
          echo "GITHUB_ACTION : [$GITHUB_ACTION]"
          echo "GITHUB_RUN_ID : [$GITHUB_RUN_ID]"
          echo "GITHUB_ACTOR  : [$GITHUB_ACTOR]"
        env:
          SAS_TOKEN: ${{ steps.azurerm.outputs.SasToken }}
